<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Instagram.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7F86E62F1C911C1D00EF660D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F86E6461C911C1D00EF660D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F86E6511C911C1D00EF660D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
